#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#headingApp {
  color: #7d09ea;
}
#headingApp > span {
  color: white;
}

#counter-time,
#startTimer {
  border-radius: 5px;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  color: white;
  background-color: transparent;
}

#startTimer {
  margin: 1rem 0;
}

#componentDiv {
  display: flex;
  margin: auto;
  justify-content: space-between;
  /* border: 1px solid red; */
}

#componentDiv > div {
  border: 1.5px solid white;
  width: 90px;
  margin: 0 0.5rem;
  padding: 0 1.5rem;
  border-radius: 5px;
  background-color: rgb(174, 87, 255);
  background-image: linear-gradient(
    to top right,
    rgb(174, 87, 255),
    rgb(114, 231, 255)
  );
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#count {
  font-size: 2rem;
  color: white;
}

#componentDiv > div > p {
  color: grey;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #componentDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  #componentDiv > div {
    margin: auto;
  }
}
@media screen and (max-width: 350px) {
  #headingApp {
    font-size: medium;
  }
  #componentDiv {
    display: block;
  }
  #componentDiv > div {
    margin: auto;
    margin-bottom: 1rem;
  }
}
